@font-face {
  font-family: "Futura PT";
  src: url("../fonts/subset-FuturaPT-Bold.woff2") format("woff2"),
      url("../fonts/subset-FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/subset-FuturaPT-Book.woff2") format("woff2"),
      url("../fonts/subset-FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("subset-FuturaPT-Medium.woff2") format("woff2"),
      url("subset-FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Futura PT Book", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #E5E5E5;
  background-image: url("../img/bg.png");
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1350px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-header {
  max-width: 100%;
}

.site-top {
  max-width: 100%;
}

.site-top__top {
  max-width: 100%;
  background: #F9F8F8;
}

.site-top__list {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  padding-left: 200px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-address {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  color: #333333;
  padding-left: 20px;
}

.top-address::before {
  content: "";
  width: 14px;
  height: 13px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/uy.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.tel-number {
  position: relative;
  padding-left: 10px;
}

.tel-number::before {
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/tel.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.site-top__list-link {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  color: #333333;
  margin-right: 9px;
  padding-left: 9px;
  font-weight: 500;
  font-size: 14px;
  transition: 0.3s ease;
}

.site-top__list-link:not(:last-child) {
  margin-right: 9px;
}

.site-top__list-link:hover {
  color: gold;
}

.site-top__list-link:active {
  color: rgba(151, 147, 147, 0.5);
}

.site-top__list-link::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: gold;
  border-radius: 50%;
}

.days-week {
  position: relative;
  z-index: 1;
  padding-left: 15px;
  display: flex;
}

.days-week::before {
  content: "";
  width: 13px;
  height: 13px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/schedule.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.days-week__text {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
}

.site-top__bottom {
  position: relative;
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}

.site-top__bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  position: absolute;
  z-index: 1;
  display: block;
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.5;
}

.logo-img {
  display: inline-block;
  vertical-align: baseline;
  width: 177px;
  height: 86px;
}

.sitenav {
  display: flex;
  align-items: center;
  margin-left: 270px;
}

.sitenav__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sitenav__list-item {
  margin-right: 55px;
}

.sitenav__list-item:not(:last-child) {
  margin-right: 55px;
}

.fish {
  position: relative;
  padding-left: 20px;
}

.fish:hover {
  opacity: 0.8;
}

.fish:active {
  opacity: 0.5;
}

.fish::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  background-image: url("../img/fish.png");
  background-position: center center;
  background-repeat: no-repeat;
}


.sitenav__item-link {
  position: relative;
  padding-bottom: 5px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #333333;
  transition: 0.3s ease;
}

.sitenav__item-link:hover {
  opacity: 0.8;
}

.sitenav__item-link:active {
  opacity: 0.5;
}

.sitenav__item-link::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: transparent;
  transition: 0.3s ease;
}

.sitenav__item-link:hover::after {
  background-color: yellow;
}

.site-header__link {
  position: relative;
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #333333;
  padding-left: 30px;
}

.site-header__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 23px;
  height: 20px;
  background-image: url("../img/pet.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.site-main {
  max-width: 100%;
}

.hero-section {
  max-width: 100%;
  background-image: url("../img/animals.png"),
                    url("../img/bird.png");
  background-position: calc(50% - 450px) -100px, calc(50% + 620px) bottom;
  background-repeat: no-repeat;
}

.site-hero {
  width: 608px;
  margin-left: auto;
  padding-top: 145px;
  padding-bottom: 321px;
}

.site-hero__title {
  margin-top: 0;
  margin-bottom: 29px;
  font-weight: bold;
  font-size: 70px;
  line-height: 64px;
}

.site-hero__title-color {
  color: rgb(111, 194, 233);
}

.site-hero__text {
  font-size: 16px;
  line-height: 21px;
  color: #949494;
  margin-top: 0;
  margin-bottom: 38px;
}

.site-button-black {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  padding: 15px 48px;
  background-color: #333333;
  border-radius: 5px;
  transition: 0.3s ease;
}
.site-button-black:hover {
  background: #FFBD54;
  color: #333333;
}
.site-button-black:active {
  opacity: 0.6;
}

.quote {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.quote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 148px;
  height: 78px;
  background-image: url("../img/“.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.quote::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 50px;
  width: 148px;
  height: 78px;
  background-image: url("../img/“-1.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.quote__title {
  margin-top: 35;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 20px;
}

.quote-text {
  position: relative;
  width: 650px;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  color: #949494;
}

.quote-text::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 140px;
  height: 2px;
  background-color: #949494;
}
.quote-text::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 140px;
  height: 2px;
  background-color: #949494;
}

.services-section {
  padding-top: 191px;
  margin-bottom: 235px;
}

.service-heading{
  margin: 0;
  text-align: center;
  margin-bottom: 80px;
  font-family: Futura PT;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  color: #333333;
}

.role-lists {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.role-item{
  width: 193px;
  margin-right: 13px;
  text-align: center;
}

.role-item:nth-child(6n) {
  margin-right: 0;
}

.none {
  display: none;
}

.role-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  background: #FFFFFF;
  height: 200px;
  border: 1px solid #F3F3F3;
  border-radius: 5px 5px 0 0;
  padding: 25px;
  position: relative;
  z-index: 1;
}

.role-link:hover {
  opacity: 0.8;
}

.role-link:active {
  opacity: 0.6;
}

.role-link::before {
  content: "";
  width: 54px;
  height: 77px;
  background-image: url("../img/doctor\ 1.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 21px;
}
.doctor::before {
  background-image: url("../img/doctor.png");
}
.nurse::before {
  background-image: url("../img/nurse.png");
}
.injection::before {
  background-image: url("../img/injection.png");
}
.clean::before {
  background-image: url("../img/clean.png");
}
.lupa::before {
  background-image: url("../img/lupa.png");
}
.dog-and-cat::before {
  background-image: url("../img/dog-and-cat.png");
}
.uzi::before {
  background-image: url("../img/bone.png");
}
.chipping::before {
  background-image: url("../img/Group.png");
}
.international-passports::before {
  background-image: url("../img/account.png");
}
.vaccination::before {
  background-image: url("../img/medicine.png");
}
.dentistry::before {
  background-image: url("../img/tooth.png");
}
.home::before {
  background-image: url("../img/veterinary.png");
}

.role-title {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #333333;
}

.role-wrapper {
  position: relative;
  z-index: 1;
}

.arrow-next {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  top: 60px;
  right: 0;
  cursor: pointer;
  transition: 0.3s ease;
}

.arrow-next:hover {
  background-color: #fff;
}
.arrow-next:active {
  opacity: 0.5;
}

.arrow-prev {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 60px;
  left: 0;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.arrow-prev:hover {
  background-color: #fff;
}
.arrow-prev:active {
  opacity: 0.5;
}

.role-item-inner {
  width: 1223px;
  padding-top: 42px;
  padding-bottom: 42px;
  padding-left: 35px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border-radius: 0px 5px 5px 5px;
  margin-top: 14px;
}

.cat {
  margin-right: 67px;
}
.inner-title {
  margin: 0;
  font-family: Futura PT;
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 18px;
}

.inner-text {
  margin: 0;
  width: 492px;
  margin-bottom: 9px;
  font-family: Futura PT;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.txt {
  margin-bottom: 34px;
}

.site-button-yellow {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  background: #FFBD54;
  border-radius: 3px;
  color: #fff;
  padding: 15px 48px;
  transition: 0.3s ease;
}

.site-button-yellow:hover {
  background: #333333;
  color: #FFBD54;
}

.site-button-yellow:active {
  opacity: 0.6;
}

.button-left::before {
  content: "";
  width: 21px;
  height: 21px;
  background-image: url("../img/money\ 1.png");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 14px;
  left: 20px;
}

.button-right {
  position: relative;
}

.button-right::before {
  content: "";
  width: 21px;
  height: 21px;
  background-image: url("../img/document\ 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 14px;
  left: 20px;
}

.sub {
  position: relative;
  z-index: 1;
}

.sub::before {
  content: "";
  width: 100%;
  height: 22px;
  background-color: #FFFFFF;
  position: absolute;
  z-index: 2;
  top: 194px;
  left: 0;
}

.subscription {
  max-width: 100%;
  background-image: url("../img/bg-bottom.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.subscription-form {
  padding-top: 278px;
  padding-bottom: 153px;
  padding-left: 287px;
}

.subscription-input {
  width: 335px;
  height: 50px;
  padding-left: 22px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #949494;
  margin-right: 21px;
}

.subscription-input:not(:placeholder-shown):invalid {
  box-shadow: 0 0 0 3px tomato;
}

.button-input {
  border: none;
  outline: none;
}

.news {
  max-width: 100%;
  display: flex;
  background-color: #333333;
  background-image: url("../img/Group\ 66.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.yandex-link {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
}

.yandex-img {
  display: block;
}

.news-left {
  width: 375px;
  padding-top: 62px;
  margin-left: 165px;
}

.news__title {
  margin-top: 0;
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 48px;
  color: #fff;
}

.news__text {
  width: 334px;
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}

.name-input {
  display: block;
  width: 100%;
  height: 50px;
  padding-left: 22px;
  margin-bottom: 14px;
  color: #949494;
  outline: none;
  border: none;
}

.email-input {
  display: block;
  width: 100%;
  height: 50px;
  padding-left: 22px;
  margin-bottom: 14px;
  color: #949494;
  outline: none;
  border: none;
}

.question-input {
  display: block;
  width: 100%;
  height: 165px;
  padding-left: 22px;
  margin-bottom: 14px;
  color: #949494;
  outline: none;
  padding-bottom: 120px;
  border: none;
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    .doctor::before {
      background-image: url("../img/doctor@2x.png");
    }
    .nurse::before {
      background-image: url("../img/nurse@2x.png");
    }
    .injection::before {
      background-image: url("../img/injection@2x.png");
    }
    .clean::before {
      background-image: url("../img/clean@2x.png");
    }
    .lupa::before {
      background-image: url("../img/lupa@2x.png");
    }
    .dog-and-cat::before {
      background-image: url("../img/dog-and-cat@2x.png");
    }
    .uzi::before {
      background-image: url("../img/bone@2x.png");
    }
    .chipping::before {
      background-image: url("../img/Group@2x.png");
    }
    .international-passports::before {
      background-image: url("../img/account@2x.png");
    }
    .vaccination::before {
      background-image: url("../img/medicine@2x.png");
    }
    .dentistry::before {
      background-image: url("../img/tooth@2x.png");
    }
    .home::before {
      background-image: url("../img/veterinary@2x.png");
    }
    .news {
      background-image: url("../img/Group\ 66@2x.png.png");
    }
    .subscription {
      background-image: url("../img/bg-bottom@2x.png");
    }
    .button-right::before {
      background-image: url("../img/document\ 1@2x.png.png");
    }
}